<div class="form-container ">

  <div class="form-container-header mat-elevation-z8">
    <span>Company Layouts</span>

    <div class="form-container-header-button-bar">
      <button *ngIf="canAdd" mat-fab color="accent" (click)="addnew()">
        <mat-icon [ngStyle]="{'color': 'white'}">add</mat-icon>
      </button>

    </div>
  </div>
  <div class="example-container">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <mat-form-field style="width:70%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="filter">
    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>&nbsp;&nbsp;

  <mat-form-field style="width:20%;">
    <select matNativeControl required  placeholder="Show" [(ngModel)]="ShowInactive" (change)="onChangeActive($event.target.value)" >
      <option value="1">Active Only</option>
      <option value="0">All</option>
    </select>
  </mat-form-field>

  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="items" class="example-table" matSort matSortActive="CompanyName"
        matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="actions">
          <!-- <th mat-header-cell *matHeaderCellDef><button mat-mini-fab color="green" (click)="addnew()"><mat-icon [ngStyle]="{'color': 'white'}">add</mat-icon></button></th> -->
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <a [routerLink]="['/home/company-layouts',row.publicID,'edit']">
              <mat-icon>edit</mat-icon>
            </a>
            <a (click)="delete(row)"><mat-icon color="warn" style="margin:10px">delete</mat-icon></a>
            <a (click)="clone(row.publicID)"><mat-icon>file_copy</mat-icon></a>
          </td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="CompanyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
            Company
          </th>
          <td mat-cell *matCellDef="let row" [class.row-inactive]="!row.Active">{{ row.CompanyName }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [showFirstLastButtons]="true" ></mat-paginator>
  </div>
</div>
