<h1 mat-dialog-title>Confirm Remove Existing {{data.dialog}}?</h1>
<div mat-dialog-content>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
</div>
