.example-card {
    max-width: 100px;
  }

.card-content {
  float: left;
  margin: 10px;
  max-width: 100px;
  min-width: 100px;
  max-height: 120px;
  min-height: 120px;
  left: 10px;
}

.card-content:hover {
  background-color: rgb(128,128,128, 0.8);
  /* display: inline-block; */
}

.wrap-text {
   overflow: hidden;
   position: relative;
   --max-lines: 3;
   position: relative;
   max-height: calc(var(--lh) * var(--max-lines));
   overflow: hidden;
   padding-right: 1rem; /* space for ellipsis */
   width: 80px;
   text-overflow: ellipsis;
   text-align: center;
   left: 10%
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-card {
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.data-sources
{
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
}
.data-details
{
  border-top-color: lightgray;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-right:10px;
  padding-left:10px;

}
.data-source-details
{
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  flex: 1 1 100%; box-sizing: border-box; place-content: flex-start; align-items: flex-start; flex-direction: row; display: flex; max-width: 40%;
}
.data-source-details-full
{
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  flex: 1 1 100%; box-sizing: border-box; place-content: flex-start; align-items: flex-start; flex-direction: row; display: flex; max-width: 90%;
}

.data-source-detail-table
{
  /* padding-right:10px;
  padding-left:10px; */
  max-width: calc(100%);
  width: 100%;
  height:500px;
  overflow: auto;
}

.customWidthClass{
  min-width: 100px;
}

.data-source-detail-table  .mat-cell, .data-source-detail-table  .mat-header-cell {
  border-right: thin solid lightgray;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
  text-align: left!important;

}
.data-source-detail-table {
  text-align: center;
}
.data-source-detail-table  .mat-cell:nth-child(1){
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;

 }


 .outer {
  position: relative;
  background: yellow;
  height: 100%;
}
.box {
  position: absolute;
  border: 0px solid rgb(255, 255, 255);
  /* height: -moz-available;
  height: -webkit-fill-available;   */
  height: stretch;
}
.one {
  left: 0;
  width: 0%;
  background: rgb(117, 121, 121);
  text-align: center;
  /* overflow:hidden; */
  flex: 1;
}
.two {
  /* left: 0;
  width: 80%; */
  background: rgb(117, 121, 121);
  text-align: center;
  overflow-y: scroll;
  padding-bottom: 76px;
  height: 915px;
  display: inline-block;
}
.three {
  /* left: 80%;
  width: 19%; */
  height: 915px;
  padding: 10px;
}
.two-new {
  left: 0%;
  width: 0%;
}
.three-new {
  left: 0%;
  width: 99%;
}
.two-pdf {
  left: 0;
  width: 80%;
}
.three-pdf {
  left: 80%;
  width: 19%;
}
.two-csv {
  left: 0%;
  width: 0%;
}
.three-csv{
  left: 0%;
  width: 99%;
}

.bottom-div {
  padding-top: 20px;
  display: table-cell;
  position: relative;
  left: 100%;
  bottom:   10px;
}
.control-stretch {
  width: 100%;
}
.control-stretch-60 {
  margin-top: 10px;
  margin-right: 10px;
  width: 60%;
}
.control-stretch-90 {
  margin-top: 10px;
  margin-right: 10px;
  width: 90%;
}
.center {
  justify-content: center;
  text-align: center;
}
.height {
  height: 50px
}

.pdfImage
{
  margin: 2em 0; margin-left: auto;
              margin-right: auto;
              display: block;
              width: 100%;
              max-width: 800px;
              min-width: 560px;
              user-select: none;
              -moz-user-select: none;
              -webkit-user-select: none;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: crosshair;
}

.align-top-right {
  position: absolute;
  left: 55%;
  top: 1%;
}

.icon-button {
  display: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

mat-card:hover .icon-button {
  display: inline-block;
  opacity: 0.8;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  overflow-y: auto;
  position: relative;

  text-align: left;
}

.large-box {
  height: 700px;
  width: inherit;
}

.toolbar-button {
  min-width: 200px;
  max-width: 200px;
  position: absolute;
  background-color: inherit;
}

.disabled {
  pointer-events: none;
}

:host ::ng-deep .mat-tab-label {
  max-width: 150px !important;
  min-width: 50px !important;
}
/*
::ng-deep .mat-tab-header-pagination {
    display: none !important;
} */

.sorting-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.sorting-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  max-width: 99%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sorting-box:last-child {
  border: none;
}

.sorting-list.cdk-drop-list-dragging .sorting-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}







/* .mat-button:hover .mat-raised-button .mat-button-focus-overlay {
  background-color: transparent;
} */
