
<div class="form-container ">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="modeEdit==1 && !isLoadingResults" id="edit-form">
    <form [formGroup]="form" (ngSubmit)="save()" *ngIf="!documentIsOpened">
      <!-- [disabled]="!form.valid" -->
      <div class="form-container-header mat-elevation-z8">
        <span>Company Layout</span>
        <div class="form-container-header-button-bar">
          <button *ngIf="canEdit" mat-raised-button color="primary" type="submit" style="margin:5px">Save to DB</button>
          <button mat-raised-button color="warn" type="button" (click)="cancel()" style="margin:5px">Close</button>
        </div>
      </div>


        <div fxLayout="row wrap">
          <mat-form-field class="control-stretch-90">
            <input matInput placeholder="Company Name" [formControl]="form.controls['CompanyName']">
          </mat-form-field>
          <mat-error *ngIf="form.controls['CompanyName'].hasError('required') && form.controls['CompanyName'].touched"
            class="mat-text-warn">
            Company Name Required</mat-error>
        </div>

        <div fxLayout="row wrap">
           <mat-checkbox [formControl]="form.controls['Active']">Active</mat-checkbox>
        </div>



    </form>

    <div class="control-stretch-90"  *ngIf="inEditMode && !documentIsOpened">
      <mat-card class="card-content">
        <mat-card-header class="align-top-right" >
          <p> </p>
        </mat-card-header>
        <mat-card-content style="justify-content: center;" style="margin-top: 5px">
          <button mat-fab color="accent" (click)="addDocument()">
            <mat-icon [ngStyle]="{'color': 'white'}">add</mat-icon>
          </button>
          <p class="wrap-text">New Document.</p>
        </mat-card-content>
      </mat-card>

      <div *ngFor="let doc of currentEditItem.Documents; let i = index">
      <mat-card *ngIf="doc.ShowDocument" class="card-content">
        <mat-card-header fxFlexAlign="top" align="end" class="align-top-right">
          <!-- <button mat-icon-button class="icon-button" (click)="editDocument(doc)"> <mat-icon [ngStyle]="{'color': 'blue', 'font-size':'18px'}">edit</mat-icon> </button> -->
          <button mat-icon-button class="icon-button" (click)="deleteDocument(doc)"> <mat-icon [ngStyle]="{'color': 'red'}">close</mat-icon> </button>
        </mat-card-header>
        <mat-card-content style="justify-content: center;" style="margin-top: 5px">
          <button mat-fab color="accent" (click)="openDocument(doc, i)">
            <mat-icon [ngStyle]="{'color': 'white'}">cloud</mat-icon>
          </button>
          <p class="wrap-text">{{doc.DocumentName}}</p>
        </mat-card-content>
      </mat-card>
      </div>

    </div>

    <div *ngIf="documentIsOpened">
      <div fxLayout="row wrap">
        <div class="form-container-header mat-elevation-z8">
          <div class="form-container-header-button-bar">
            <button mat-raised-button color="primary" style="margin:5px" [disabled]="isDisabled" *ngIf="fileType.type == 'pdf'" (click)="ClearAllSelections()">Clear All Selections</button>
            <button mat-raised-button color="primary" type="button" style="margin:5px" (click)="documentSave()">Save</button>
            <button mat-raised-button color="warn" type="button" style="margin:5px" (click)="documentCancel()">Close</button>
          </div>
        </div>
        <div class="outer">
          <div class="box one">
          </div>
          <div [ngClass]="fileType.classTwo">

              <!-- <img id="pdfimage" [src]="pdfimage" class="pdfImage" > -->
              <!-- <mat-toolbar class="toolbar-button">
                <mat-toolbar-row>
                  <button mat-raised-button color="primary" type="button" (click)="documentSave()">Save</button>
                </mat-toolbar-row>

                <mat-toolbar-row>
                  <button mat-raised-button color="warn" type="button" (click)="documentCancel()">Close</button>
                </mat-toolbar-row>

                <mat-toolbar-row>
                  <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="ClearAllSelections()">Clear All Selections</button>
                </mat-toolbar-row>

              </mat-toolbar> -->
              <div [class.disabled]="isLocked">
                <app-canvas *ngIf="fileType.type == 'pdf'" #canvasComponent (onSelect)="onSelect($event)" (afterResize)="afterResize($event)" (afterMove)="afterMove($event)"  (afterCreateRectangle)="afterCreateRectangle($event)" (deleteRectangle)="deleteRectangle($event)" (canvasReady)="canvasReady($event)"  [source]="pdfimage"  class="pdfImage" [lockCanvas]="isDisabled" ></app-canvas>
              </div>
              <div style="height:150px;"></div>
          </div>
          <div [ngClass]="fileType.classThree">
            <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex">
              <mat-tab label="Details">
                <div fxLayout="row wrap">
                  <form [formGroup]="firstFormGroup" (ngSubmit)="confirmDocument()">
                  <table>
                    <tr>
                      <td>
                        <mat-card-content>
                          <mat-form-field class="control-stretch-90">
                            <input matInput placeholder="Document Name" formControlName="DocumentName">
                            <mat-error *ngIf="firstFormGroup.controls['DocumentName'].hasError('required')">Document Name Required</mat-error>
                          </mat-form-field>
                        </mat-card-content>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-card-content>
                          <mat-form-field class="control-stretch-90">
                            <input matInput placeholder="Document Description" formControlName="DocumentDescription">
                            <mat-error *ngIf="firstFormGroup.controls['DocumentDescription'].hasError('required')">Document Description</mat-error>
                          </mat-form-field>
                        </mat-card-content>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <mat-select formControlName="InputDocumentType" placeholder="Input Document Type">
                                 <mat-option *ngFor="let inputdoctype of inputDocumentTypes" [value]="inputdoctype.ID">
                                   {{inputdoctype.Description}}
                                 </mat-option>
                               </mat-select>
                               <mat-error *ngIf="firstFormGroup.controls['InputDocumentType'].hasError('required')">Input Document Type Required</mat-error>
                             </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <select matNativeControl formControlName="InputMethod" placeholder="Input Transport Method">
                                <option *ngFor="let inputmethod of transportMethods" [value]="inputmethod.ID">
                                  {{inputmethod.Description}}
                                </option>
                              </select>
                              <mat-error *ngIf="firstFormGroup.controls['InputMethod'].hasError('required')">Input Transport Method Required</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr *ngIf="firstFormGroup.get('InputMethod').value == '8'">
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <mat-select formControlName="InputSecurityType" placeholder="Input Security Protocal">
                                <mat-option *ngFor="let security of securityProtocols" [value]="security.ID">
                                  {{security.Description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="firstFormGroup.controls['InputSecurityType'].touched && firstFormGroup.controls['InputSecurityType'].hasError('required')">Input Security Required</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr *ngIf="firstFormGroup.get('InputMethod').value == '9'">
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <textarea type="email" matInput placeholder="Input Email" formControlName="IncomingEmail"></textarea>
                              <mat-error *ngIf="firstFormGroup.controls['IncomingEmail'].hasError('required')">Input Email Required</mat-error>
                              <mat-error *ngIf="firstFormGroup.controls['IncomingEmail'].hasError('invalidEmailAddress')">Input Email Invalid</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <mat-select formControlName="OutputDocumentType" placeholder="Output Document Type">
                                <mat-option *ngFor="let outputdoctype of outputDocumentTypes" [value]="outputdoctype.ID">
                                  {{outputdoctype.Description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="firstFormGroup.controls['OutputDocumentType'].hasError('required')">Output Document Type Required</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <select matNativeControl formControlName="OutputMethod" placeholder="Output Transport Method">
                                <option *ngFor="let outputmethod of transportMethods" [value]="outputmethod.ID">
                                  {{outputmethod.Description}}
                                </option>
                              </select>
                              <mat-error *ngIf="firstFormGroup.controls['OutputMethod'].hasError('required')">Output Transport Method Required</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr *ngIf="firstFormGroup.get('OutputMethod').value == '8'">
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <mat-select formControlName="OutputSecurityType" placeholder="Output Security Protocal">
                                <mat-option *ngFor="let security of securityProtocols" [value]="security.ID">
                                  {{security.Description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="firstFormGroup.controls['OutputSecurityType'].hasError('required')">Output Security Protocal Required</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr *ngIf="firstFormGroup.get('OutputMethod').value == '9'">
                        <td>
                          <mat-card-content>
                            <mat-form-field class="control-stretch-90">
                              <textarea matInput placeholder="Output Email" formControlName="OutGoingEmail"></textarea>
                              <mat-error *ngIf="firstFormGroup.controls['OutGoingEmail'].hasError('required')">Input Email Required</mat-error>
                              <mat-error *ngIf="firstFormGroup.controls['OutGoingEmail'].hasError('invalidEmailAddress')">Input Email Invalid</mat-error>
                            </mat-form-field>
                          </mat-card-content>
                        </td>
                      </tr>
                      <tr style="text-align: right;">
                        <td>
                          <button mat-raised-button color="primary" type="submit" style="margin:15px">Confirm</button>
                        </td>
                      </tr>
                  </table>
                  </form>
                </div>
              </mat-tab>

              <mat-tab label="Layout" [disabled]="tabDisabled || fileType.type == ''">
                <div class="large-box">
                  <div fxLayout="row">
                    <mat-form-field class="control-stretch-90">
                    <mat-label>Page Select</mat-label>
                    <select matNativeControl [(ngModel)]="selectedPage" (change)="loadPageFields(selectedPage)" [disabled]="isLocked">
                      <option value="1">Page 1</option>
                      <option value="2">Page 2</option>
                      <option value="3">Page 3</option>
                      <option value="4">Middle Page</option>
                      <option value="5">3rd Last Page</option>
                      <option value="6">2nd Last Page</option>
                      <option value="7">Last Page</option>
                    </select>
                    </mat-form-field>
                  </div>

                  <form *ngIf="currentEditField != null" [formGroup]="fieldForm" #formDirective="ngForm">

                    <div fxLayout="column" *ngIf="fileType.type == 'csv' && currentEditItem.Documents[documentIndex].Layouts.length != 0">
                      <mat-form-field class="control-stretch-90">
                      <mat-label>Select A Field</mat-label>
                      <select matNativeControl (change)="handleSelectHeader($event)" placeholder="Select Field" [formControl]="fieldForm.controls['FieldName']">
                        <!-- <option value="">Select A Field</option> -->
                        <option *ngFor="let header of currentEditItem.Documents[documentIndex].Layouts[selectedPage-1].fieldArray" [value]="header.FieldName">{{header.FieldName}}</option>
                      </select>
                      </mat-form-field>
                    </div>

                    <div fxLayout="column">
                      <mat-form-field class="control-stretch-90">
                          <input matInput placeholder="Caption" [formControl]="fieldForm.controls['Caption']">
                          <mat-error *ngIf="fieldForm.controls['Caption'].hasError('required')">Caption required</mat-error>
                          <mat-error *ngIf="fieldForm.controls['Caption'].hasError('maxlength')">Maximum 50 Characters</mat-error>
                          <mat-error *ngIf="fieldForm.controls['Caption'].hasError('duplicate')">Duplicated Caption</mat-error>
                      </mat-form-field>
                    </div>
                    <div name="input" *ngIf="fileType.type != 'pdf'">
                      <div fxLayout="column">
                        <mat-form-field class="control-stretch-90">
                          <select *ngIf="fileType.type != 'csv'" matNativeControl placeholder="Select Input Type" [formControl]="fieldForm.controls['DataType']">
                            <option *ngFor="let type of types" [value]="type.ID">{{type.Description}}</option>
                          </select>
                          <select *ngIf="fileType.type == 'csv'" matNativeControl placeholder="Select Input Type" [formControl]="fieldForm.controls['DataType']">
                            <option *ngFor="let type of columnTypes" [value]="type.ID">{{type.Description}}</option>
                          </select>
                          <mat-error *ngIf="fieldForm.controls['DataType'].hasError('required')">Data Type required</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.DataType =='19'">
                            <input matInput placeholder="Input Date format EG DD/MM/YY" type="text" [formControl]="fieldForm.controls['DateValue']">
                            <mat-error *ngIf="fieldForm.controls['DateValue'].hasError('required')">Please Input Date Format</mat-error>
                            <mat-error *ngIf="fieldForm.controls['DateValue'].hasError('pattern')">At Least 8 Characters with D,M,Y,-,/</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.DataType =='17'">
                            <input matInput placeholder="Input Minimum Value" type="number" [formControl]="fieldForm.controls['MinValue']">
                            <mat-error *ngIf="fieldForm.controls['MinValue'].hasError('required')">Minimum value required</mat-error>
                            <mat-error *ngIf="fieldForm.controls['MinValue'].hasError('min')">Minimum value 0</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.DataType =='17'">
                            <input matInput placeholder="Input Maximum Value" type="number" [formControl]="fieldForm.controls['MaxValue']">
                            <mat-error *ngIf="!currentEditField.EmptyValue && fieldForm.controls['MaxValue'].hasError('required')">Maximum value required</mat-error>
                            <mat-error *ngIf="fieldForm.controls['MaxValue'].hasError('max')">Maximum value 999999</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.DataType != '' && currentEditField.DataType != '21'">
                            <input matInput placeholder="Input Default Value" type="text" [formControl]="fieldForm.controls['DefaultValue']">
                        </mat-form-field>
                      </div>
                      <div *ngIf="currentEditField.DataType != '' && currentEditField.DataType != '21'">
                        <mat-checkbox class="control-stretch-90" [formControl]="fieldForm.controls['EmptyValue']">Allow Empty</mat-checkbox>
                        <hr />
                      </div>
                    </div>


                    <div name="output">
                      <div fxLayout="column">
                        <mat-form-field class="control-stretch-90">
                          <select *ngIf="fileType.type != 'csv'" matNativeControl placeholder="Select Output Type" [formControl]="fieldForm.controls['Output_DataType']" (change)="handleSelectDataType($event.target.value)">
                            <option *ngFor="let type of types" [value]="type.ID">{{type.Description}}</option>
                          </select>
                          <select *ngIf="fileType.type == 'csv'" matNativeControl placeholder="Select Output Type" [formControl]="fieldForm.controls['Output_DataType']">
                            <option *ngFor="let type of columnTypes" [value]="type.ID">{{type.Description}}</option>
                          </select>
                          <mat-error *ngIf="fieldForm.controls['Output_DataType'].hasError('required')">Data Type required</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.Output_DataType =='19' && fileType.type == 'pdf'">
                            <input matInput placeholder="Input Date format EG DD/MM/YY" type="text" [formControl]="fieldForm.controls['DateValue']">
                            <mat-error *ngIf="fieldForm.controls['DateValue'].hasError('required')">Please Input Date Format</mat-error>
                            <mat-error *ngIf="fieldForm.controls['DateValue'].hasError('pattern')">At Least 8 Characters with D,M,Y,-,/</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.Output_DataType =='19'">
                            <input matInput placeholder="Output Date format EG DD/MM/YY" type="text" [formControl]="fieldForm.controls['Output_DateValue']">
                            <mat-error *ngIf="fieldForm.controls['Output_DateValue'].hasError('required')">Please Input Date Format</mat-error>
                            <mat-error *ngIf="fieldForm.controls['Output_DateValue'].hasError('pattern')">At Least 8 Characters with D,M,Y,-,/</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.Output_DataType =='17'">
                            <input matInput placeholder="Output Minimum Value" type="number" [formControl]="fieldForm.controls['Output_MinValue']">
                            <mat-error *ngIf="fieldForm.controls['Output_MinValue'].hasError('required')">Minimum value required</mat-error>
                            <mat-error *ngIf="fieldForm.controls['Output_MinValue'].hasError('min')">Minimum value 0</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.Output_DataType =='17'">
                            <input matInput placeholder="Output Maximum Value" type="number" [formControl]="fieldForm.controls['Output_MaxValue']">
                            <mat-error *ngIf="!currentEditField.EmptyValue && fieldForm.controls['Output_MaxValue'].hasError('required')">Maximum value required</mat-error>
                            <mat-error *ngIf="fieldForm.controls['Output_MaxValue'].hasError('max')">Maximum value 999999</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field class="control-stretch-90" *ngIf="currentEditField.Output_DataType != '' && currentEditField.Output_DataType != '21'">
                            <input matInput placeholder="Output Default Value" type="text" [formControl]="fieldForm.controls['Output_DefaultValue']">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-checkbox class="control-stretch-90" *ngIf="currentEditField.Output_DataType != '' && currentEditField.Output_DataType != '21'" [formControl]="fieldForm.controls['Output_EmptyValue']">Allow Empty</mat-checkbox>
                      </div>
                    </div>


                  </form>

                <div name="tabular" *ngIf="currentEditField != null && currentEditField.Output_DataType == '21'">
                  <mat-form-field class="control-stretch-90">
                    <select matNativeControl placeholder="Choose a Column" (change)="handleSelectColumn($event.target.value)" [disabled]="columnForm.touched && !columnForm.valid">
                      <option *ngFor="let x of columns" [value]="x.id">{{x.value}}</option>
                    </select>
                  </mat-form-field>
                </div>

                  <form *ngIf="currentEditField != null && currentEditField.Output_DataType == '21'" [formGroup]="columnForm" #columnDirective="ngForm">
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.ColumnID != null">
                          <input matInput placeholder="Caption" maxlength="50" [formControl]="columnForm.controls['Caption']">
                          <mat-error *ngIf="columnForm.controls['Caption'].hasError('required')">Caption required</mat-error>
                          <mat-error *ngIf="columnForm.controls['Caption'].hasError('maxlength')">Maximum 50 Characters</mat-error>
                          <mat-error *ngIf="columnForm.controls['Caption'].hasError('duplicate')">Duplicated Caption</mat-error>
                      </mat-form-field>
                    </div>
                    <!-- <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.ColumnID != null">
                        <select matNativeControl placeholder="Select Input Type" [formControl]="columnForm.controls['DataType']">
                          <option *ngFor="let type of columnTypes" [value]="type.ID">{{type.Description}}</option>
                        </select>
                      </mat-form-field>
                    </div> -->
                    <!-- <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.DataType =='19'">
                          <input matInput placeholder="Input Date format EG DD/MM/YY" type="text" [formControl]="columnForm.controls['DateValue']">
                          <mat-error *ngIf="columnForm.controls['DateValue'].hasError('required')">Please Input Date Format</mat-error>
                          <mat-error *ngIf="columnForm.controls['DateValue'].hasError('pattern')">At Least 8 Characters with D,M,Y,-,/</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.DataType =='17'">
                          <input matInput placeholder="Input Minimum Value" type="number" [formControl]="columnForm.controls['MinValue']">
                          <mat-error *ngIf="columnForm.controls['MinValue'].hasError('required')">Minimum value required</mat-error>
                          <mat-error *ngIf="columnForm.controls['MinValue'].hasError('min')">Minimum value 0</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.DataType =='17'">
                          <input matInput placeholder="Input Maximum Value" type="number" [formControl]="columnForm.controls['MaxValue']">
                          <mat-error *ngIf="columnForm.controls['MaxValue'].hasError('required')">Maximum value required</mat-error>
                          <mat-error *ngIf="columnForm.controls['MaxValue'].hasError('max')">Maximum value 999999</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.DataType != ''">
                          <input matInput placeholder="Input Default Value" type="text" [formControl]="columnForm.controls['DefaultValue']">
                      </mat-form-field>
                    </div>
                    <div *ngIf="currentEditColumn != null && currentEditColumn.DataType != ''">
                      <mat-checkbox class="control-stretch-90" [formControl]="columnForm.controls['EmptyValue']">Allow Empty</mat-checkbox>
                      <hr />
                    </div> -->
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.ColumnID != null">
                        <select matNativeControl placeholder="Select Output Type" [formControl]="columnForm.controls['Output_DataType']">
                          <option *ngFor="let type of columnTypes" [value]="type.ID">{{type.Description}}</option>
                        </select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.Output_DataType =='19'">
                          <input matInput placeholder="Input Date format EG DD/MM/YY" type="text" [formControl]="columnForm.controls['DateValue']">
                          <mat-error *ngIf="columnForm.controls['DateValue'].hasError('required')">Please Input Date Format</mat-error>
                          <mat-error *ngIf="columnForm.controls['DateValue'].hasError('pattern')">At Least 8 Characters with D,M,Y,-,/</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.Output_DataType =='19'">
                          <input matInput placeholder="Output Date format EG DD/MM/YY" type="text" [formControl]="columnForm.controls['Output_DateValue']">
                          <mat-error *ngIf="columnForm.controls['Output_DateValue'].hasError('required')">Please Input Date Format</mat-error>
                          <mat-error *ngIf="columnForm.controls['Output_DateValue'].hasError('pattern')">At Least 8 Characters with D,M,Y,-,/</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.Output_DataType =='17'">
                          <input matInput placeholder="Output Minimum Value" type="number" [formControl]="columnForm.controls['Output_MinValue']">
                          <mat-error *ngIf="columnForm.controls['Output_MinValue'].hasError('required')">Minimum value required</mat-error>
                          <mat-error *ngIf="columnForm.controls['Output_MinValue'].hasError('min')">Minimum value 0</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.Output_DataType =='17'">
                          <input matInput placeholder="Output Maximum Value" type="number" [formControl]="columnForm.controls['Output_MaxValue']">
                          <mat-error *ngIf="columnForm.controls['Output_MaxValue'].hasError('required')">Maximum value required</mat-error>
                          <mat-error *ngIf="columnForm.controls['Output_MaxValue'].hasError('max')">Maximum value 999999</mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.Output_DataType != ''">
                          <input matInput placeholder="Output Default Value" type="text" [formControl]="columnForm.controls['Output_DefaultValue']">
                      </mat-form-field>
                    </div>
                    <div *ngIf="currentEditColumn != null && currentEditColumn.Output_DataType != ''">
                      <mat-checkbox class="control-stretch-90" [formControl]="columnForm.controls['Output_EmptyValue']">Allow Empty</mat-checkbox>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && currentEditColumn.ColumnID != null">
                        <select matNativeControl placeholder="Table Position" [formControl]="columnForm.controls['TablePosition']" required>
                          <option *ngFor="let table of tablePositions" [value]="table">{{table}}</option>
                        </select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && (currentEditColumn.TablePosition == 'Floating Top' || currentEditColumn.TablePosition == 'Floating Top & Bottom')">
                          <input matInput placeholder="Left Most Text Before table Starts" type="text" [formControl]="columnForm.controls['TableTopValue']" required>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="control-stretch-90" *ngIf="currentEditColumn != null && (currentEditColumn.TablePosition == 'Floating Bottom' || currentEditColumn.TablePosition == 'Floating Top & Bottom')">
                          <input matInput placeholder="Left Most Text After Table Ends" type="text" [formControl]="columnForm.controls['TableBottomValue']" required>
                      </mat-form-field>
                    </div>
                  </form>
                  <div fxLayout="row">
                    <button *ngIf="currentEditField != null && fileType.type != 'csv'" mat-raised-button color="warn" (click)="deleteChange()">Delete</button>
                    <!-- <button *ngIf="fieldForm.dirty || columnForm.dirty" mat-raised-button color="primary" style="margin:15px" [disabled]="(!fieldForm.valid && !columnForm.valid) || (!columnForm.valid && columnForm.touched)" (click)="saveChange()">Save</button> -->
                    <button *ngIf="fieldForm.dirty || columnForm.dirty" mat-raised-button color="primary" style="margin:15px" [disabled]="(!fieldForm.valid) || (!columnForm.valid && columnForm.touched) || (currentEditField && currentEditField.Output_DataType == '21' && !columnForm.valid)" (click)="saveChange()">Save</button>
                    <button *ngIf="fieldForm.dirty || columnForm.dirty" mat-raised-button color="accent" (click)="revertChange()">Cancel</button>
                  </div>
                </div>
                <!-- <span>{{fieldForm.valid}}</span>
                <span>{{columnForm.valid}}</span> -->
              </mat-tab>

              <mat-tab label="Upload" [disabled]="fileType.type == ''">
                <div class="control-stretch-90">
                  <form>
                    <app-upload-file #uploadFileComponent (fileUploaderChanged)="fileUploaderChanged($event)" [allowedFileTypes]="fileType.type"></app-upload-file>
                    <div *ngIf="uploaderFiles.length != 0" style="text-align: center;">
                      <button mat-raised-button color="primary" (click)="validateUploader()">Upload</button>
                    </div>
                  </form>
                </div>
              </mat-tab>

              <mat-tab label="Sort Order">
                <div cdkDropList class="sorting-list" (cdkDropListDropped)="drop($event)">
                  <div class="sorting-box" *ngFor="let column of columns" cdkDrag>{{column.value}}</div>
                </div>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
