<div class="main-div">
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/logo.png" style="width:384px;">
        <mat-card-title style="text-align:center;">PDL Maintenance Login</mat-card-title>
        <!-- <hr> -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate role="login" class="example-form">
            <mat-card-content>

                <table class="full-with-field" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-with-field">
                                <input matInput placeholder="Logon" formControlName="logon" id="logon" name="logon"
                                    required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-with-field">
                                <input matInput placeholder="Password" formControlName="password" id="password" type="password"
                                    name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
            </mat-card-content>
            <mat-card-actions style="text-align:center;">
                <button mat-raised-button color="primary">Login</button>
            </mat-card-actions>
        </form>
        <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
            </div>
    </mat-card>

</div>