<div class="form-container ">
  <div class="form-container-header mat-elevation-z8">
    <span>Admin</span>
  </div>

  <div class="example-container">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <mat-form-field style="width:70%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="filter">
    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>&nbsp;&nbsp;

  <mat-form-field style="width:20%;">
    <select matNativeControl required  placeholder="Show" [(ngModel)]="ShowInactive" (change)="onChangeActive($event.target.value)" >
      <option value="1">Active Only</option>
      <option value="0">All</option>
    </select>
  </mat-form-field>

  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
     <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="Description" matSortDisableClear matSortDirection="asc">
       <ng-container matColumnDef="actions">
         <!-- <th mat-header-cell *matHeaderCellDef><button mat-mini-fab color="green" (click)="addnew()"><mat-icon [ngStyle]="{'color': 'white'}">add</mat-icon></button></th> -->
         <th mat-header-cell *matHeaderCellDef>Actions</th>
         <td mat-cell *matCellDef="let row">
           <a [routerLink]="['/home/admin/lookuptables',row.publicID,'edit']"><mat-icon>edit</mat-icon></a>
         </td>
       </ng-container>

       <ng-container matColumnDef="Description">
         <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Description</th>
         <td mat-cell *matCellDef="let element" [class.row-inactive]="!element.Active">{{element.Description}}</td>
       </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     </div>
     <mat-paginator [length]="resultsLength" [pageSize]="10" [showFirstLastButtons]="true" ></mat-paginator>

  </div>

</div>
