.param-form-container {
  display: flex;
  flex-direction: column;
  width:inherit;
  /* border: 2px;
  border-style: solid; */
  border-color: lightgrey;
}

.param-form-container > * {
  width: 100%;
}

.input-row {
  width: 90%
}
