<mat-card>
<div class="form-container ">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="!isLoadingResults">
    <div class="param-form-container">

      <form [formGroup]="form" (ngSubmit)="save()" class="form-container">
        <div class="form-container-header mat-elevation-z8">
          <span>Admin</span>
          <div class="form-container-header-button-bar">
            <button mat-raised-button color="primary" type="submit">Save</button>&nbsp;&nbsp;
            <button mat-raised-button color="warn" type="button" (click)="cancel()">Close</button>
          </div>
        </div>

        <div fxLayout="row">
          <mat-form-field class="input-row">
            <input matInput placeholder="Description" [formControl]="form.controls['Description']">
           </mat-form-field>
        </div>

        <div fxLayout="row">
           <mat-checkbox [formControl]="form.controls['Active']">Active</mat-checkbox>
        </div>

         <!-- <div style="text-align:right; max-width:90%">
           <button *ngIf="form.dirty" mat-raised-button color="primary" style="margin:15px">Save</button>
           <button *ngIf="form.dirty" mat-raised-button color="accent" (click)="revertChange()">Cancel</button>
         </div> -->
      </form>
    </div>
  </div>
</div>
</mat-card>
