<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <table>
    <tr>

      <td>
          <span>{{fileUploaderCaption}}</span>
      </td>
    </tr>
    <tr>

        <td>
            <mat-icon class="mat-icon-200">cloud_upload</mat-icon>
        </td>
      </tr>

  </table>


  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
  <span>{{errorMsg}}</span>
  <div  class="files-list" *ngFor="let file of files;let i=index">
    <p>{{ file.fileName }}</p>
    <button class="delete-file" (click)="deleteAttachment(i)">
        <mat-icon [ngStyle]="{'color': 'red'}">close</mat-icon>
    </button>
  </div>
  
