/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
body { margin: 0;
    height: 100vh;
    margin: 0;
}
html {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
  }


.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .delete-icon
  {
      cursor: pointer;
  }
  .mat-cell
  {
      cursor: pointer!important;
  }

  .success {
    background-color: green;
    color: #fff;
}
.mat-sidenav-fixed
{
    border-right-color: lightgray;
    border-right-style: solid;
    border-right-width: thin;
    width: 200px;
}

.form-container{
    padding: 10px;
}
.form-container-header
{
    background-color: #FCB912;
    color: #202c48;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    height: 50px;;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding-left:10px;
    margin-bottom: 20px;
}

.form-container-header-button-bar
{
    position: fixed;
    width: 95%;
    left: 0;
    text-align: right;
    margin: auto;
}
.logout-button
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: right;
    margin: auto;

}
.mat-success {
    background-color: green;
    color: #fff;
}


.app-access-table-container
{
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  position: relative;
}
.mat-row {
    height: auto;
  }

  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  .app-access-table-footer
  {
    position: absolute;
    bottom: 0;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
  }


  table {
    width: 100%;
    }
    .row-highlight{
      background: rgb(229, 230, 230);
    }

    .footer-version{
        text-align: center;
        position: fixed;
        width:100%;
        bottom:0;
    }

    .mat-header-cell {
        font-weight: bold!important;
        font-size: 12px!important;
      }

      .active-link {
        background-color: #607d8b!important;
        font-weight: bold!important;
        color: white!important;
    }

    .selected-amml-item
{
color: black!important;
font-weight: bold!important;
font-size: 16px!important;

}
.field-marker
{
  position: absolute;;
  border: 3px solid rgba(199, 25, 9, 0.64);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  cursor: move;

}
div.field-marker button[name=close] {
  font-weight: bold;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 53%;
  margin-left: 5px;
  z-index: 1001;
  outline: none;
  cursor: pointer;
  display: none;
}
div.field-marker button[name=close]:hover {
  color: red;
}

div.field-marker .resize-handle {
  position: absolute;
}

div.field-marker .n-border {
  width: calc(100% - 10px);
  top: -5px;
  left: 5px;
  height: 10px;
}

div.field-marker .s-border {
  width: calc(100% - 10px);
  bottom: -5px;
  left: 5px;
  height: 10px;
}

div.field-marker .w-border {
  height: calc(100% - 10px);
  left: -5px;
  top: 5px;
  width: 10px;
}

div.field-marker .e-border {
  height: calc(100% - 10px);
  top: 5px;
  right: -5px;
  width: 10px;
}

div.field-marker .nw-border {
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
}

div.field-marker .ne-border {
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
}

div.field-marker .sw-border {
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: -5px;
}

div.field-marker .se-border {
  width: 10px;
  height: 10px;
  bottom: -5px;
  right: -5px;
}

div.field-marker .n-border:hover {
  cursor: n-resize;
}
div.field-marker .nw-border:hover {
  cursor: nw-resize;
}

div.field-marker .ne-border:hover {
  cursor: ne-resize;
}

div.field-marker .s-border:hover {
  cursor: s-resize;
}

div.field-marker .sw-border:hover {
  cursor: sw-resize;
}
div.field-marker .se-border:hover {
  cursor: se-resize;
}

div.field-marker .w-border:hover {
  cursor: w-resize;
}

div.field-marker .e-border:hover {
  cursor: e-resize;
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: none !important;;
}

td.row-inactive {
   /* background-color: red; */
   color: red;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 1em 0;
    padding: 0;
    width: 90%;
}

div.mat-tab-label {
  padding: 0 10px;
}
