@import '~@angular/material/theming';

@include mat-core();

@import '~mat-sidenav-menu/mat-sidenav-menu-theme.scss';

$forest-app-primary: mat-palette($mat-blue-grey);       // Brown  <-- CUSTOM COLOR HERE!
$forest-app-accent:  mat-palette($mat-light-green,500);      // Green  <-- CUSTOM COLOR HERE!

$forest-app-warn:    mat-palette($mat-red); // Orange <-- CUSTOM COLOR HERE!

$forest-app-theme: mat-light-theme($forest-app-primary, $forest-app-accent, $forest-app-warn);

@include angular-material-theme($forest-app-theme);

@include side-nav-menu-theme($forest-app-theme);