<mat-sidenav-container class="sidenav-container" style="height:100vh;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" [mode]="'side'" [opened]="true">
    <mat-toolbar color="primary" style="text-align:center;">
      <img src="/assets/images/JLJ Logo Only.png" height="60px" style="margin: auto;">
    </mat-toolbar>
    <!-- <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      <a mat-list-item routerLink="/home/stock" routerLinkActive="active-link">Stock</a>
      <a mat-list-item routerLink="/home/foreigntables/1" routerLinkActive="active-link">Division</a>
      <a mat-list-item routerLink="/home/foreigntables/2" routerLinkActive="active-link">Department</a>
      <a mat-list-item routerLink="/home/foreigntables/3" routerLinkActive="active-link">Class</a>
      <a mat-list-item routerLink="/home/foreigntables/4" routerLinkActive="active-link">Type</a>
      <a mat-list-item routerLink="/home/foreigntables/5" routerLinkActive="active-link">Supplier</a>
    </mat-nav-list> -->
    <ng-material-multilevel-menu [configuration]='config' [items]='navItems' >
    </ng-material-multilevel-menu>


</mat-sidenav>
<mat-sidenav-content style="overflow:hidden;">
  <mat-toolbar color="primary" style="text-align:center;position: fixed;
  top: 0;z-index: 999">
    <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
    <span>Document Data Extractor</span>
    <div class="logout-button">
      <button mat-mini-fab color="warn" (click)="logout()">
        <mat-icon [ngStyle]="{'color': 'white'}">exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div style="top:65px;margin:0px;position: relative;">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-version">Version 2019.11.14.02</div>
</mat-sidenav-content>
</mat-sidenav-container>
