.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.action-button > .material-icons
{
  font-size: 48px;
}
.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	/* font-family: 'Pacifico', cursive; */
	font-size: 32px;
  color: #000000;
  text-shadow: white;
  text-decoration: none;	
  height: 80%;
  width: 80%;
  background: rgba(211,211, 211, 0.2);
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.compamny-name
{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    color: #000000;
    text-shadow: 0px -2px  #2980B9;
    margin-right: 30px;
}

/* 
.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color:black;
  background: rgba(0,0, 0, 0.2);
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
} */

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

